<nav class="navbar navbar-default navbar-fixed-top">
  <div [ngClass]="hasDetails?'container-fluid':'container'">

    <div class="container collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
          <a routerLink="/">
            <span class="logo-icon glyphicon glyphicon-send" style="font-size: 3.5rem;margin-top:-0.9rem"><span style="display:inline-block; word-wrap:break-word; width:1rem;font-size: 1rem;margin-left: 5px;">RSO</span>
            </span>
          </a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">

        <li style="float:unset">

          <div class="searchField form-control">
            <input style="width:100%;border:none" [(ngModel)]="_findString" (ngModelChange)="findString.next($event)" placeholder="Find users...">            <div *ngIf="foundUsers.length>0" style="position: absolute; background: white; width:calc(100%) ;left:0px; border:4px solid #eee; border-radius:2px"
              class="material-shadow">
              <span *ngFor="let item of foundUsers" class="btn material-shadow text-left" style="width:100%" [routerLink]="'user/'+item.id"
                (click)="foundUsers=[]">{{item.display_name}}</span>
            </div>
          </div>

        </li>

        <ng-template [ngIf]="authService.hasAuthToken()">
          <!-- <li>
            <a>
              <img class="header-profile-img" src="https://vignette.wikia.nocookie.net/naginoasukara/images/8/86/Placeholder_person.png/revision/latest?cb=20130924151342"
                alt="header-profile-img" style="max-width: 100%; ">
            </a>
          </li> -->

          <li class="material-shadow btn btn-xs dropdown" style="cursor: pointer;top:0px;float:unset; left:-2rem; padding-left:0; padding-right:0;" >
            <a style="padding-bottom:0.8rem; margin-top:-0.5rem ">
              <span class="glyphicon glyphicon-user" style="max-width: 100%; font-size:2rem; "></span>
              <span class="caret"></span>
            </a>

            <ul class="dropdown-menu" style="top:auto">
              <li>
                <a href="#" style="color: black" [routerLink]="'/user/'+user"> Profile </a>
              </li>
              <li>
                <a routerLink="/settings" style="color: black"> Settings </a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="#" style="color: black" [routerLink]="'/'" (click)="logout()"> Logout </a>
              </li>
            </ul>
          </li>
        </ng-template>
        <li *ngIf="!authService.hasAuthToken()" class="material-shadow btn btn-xs" style="cursor: pointer;top:0px;float:unset; left:-2rem;"
          [routerLink]="'/welcome'">
          <a style="padding-bottom:0.8rem; margin-top:-0.5rem ">
            <span class="glyphicon glyphicon-log-in" style="max-width: 100%; font-size:2rem; "></span>
          </a>
        </li>


      </ul>
    </div>
  </div>
</nav>