.navbar {
  padding-left: 100px;
  padding-right: 100px;

  max-height: 50px;
  min-height: 50px;

  background-color: DarkOrchid;
}

.nav.navbar-nav li a {
  color: white;
}

.searchField {
  position: absolute;
  top:  10px;
  right: 90px;
  max-height: 30px;
  min-height: 30px;
  max-width: 250px;
  min-width: 250px;
}

.logo-icon {
}

.header-profile-img {
  border-radius: 50%;
  max-height: 40px;
  max-width: 40px;
  min-height: 40px;
  min-width: 40px;
  position: absolute;
  top: 5px;
  right: 55px;
}

.dropdown-toggle {
  background-color: inherit;
  border-color: inherit;
  border-width: 0;

  min-width: 60px;
  max-width: 60px;

  position: absolute;
  top:  3px;
  right: 0px;
}

.dropdown-menu {
  color: black;
  position: absolute;
  top: 50px;
}

.dropdown:hover .dropdown-menu, .btn-group:hover .dropdown-menu {
  display: block;
}

.navbar .dropdown-toggle, .nav-tabs .dropdown-toggle {
  margin-bottom: 0;
}
