.login {
  background-color: white;
  padding-top: 50px;
  padding-right: 100px;
  padding-bottom: 0px;
  padding-left: 100px;
}

.mainLabel {
    padding-top: 50px;
    padding-bottom: 20px;
    display: block;
    text-align: center;
    line-height: 150%;
    font-size: 200%;
}
