<div class="row login ">
  <div class="container" style="height: 100vh;">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onLogin(f)" #f="ngForm">
        <div class="form-group">
          <label class="mainLabel"> Login! </label>
        </div>
        <div class="form-group">
          <label for="email"> e-mail </label>
          <input type="email" name="email" id="email" ngModel class="form-control">
        </div>
        <div class="form-group">
          <label for="password"> password </label>
          <input type="password" name="password" id="password" ngModel class="form-control">
        </div>
        <ng-container *ngIf="loginFailed">
          <label  class="text-danger" for="">Login failed</label>
          <br>
        </ng-container>


        <button class="btn btn-rso-primary" type="submit"> Login </button>
      </form>
    </div>
  </div>
</div>