

/* Custom, iPhone Retina */

@media only screen and (min-width: 0) {


  .responsive-details {
    top:50px;
    position: fixed;
    z-index:9999;
    /* padding:0 100px; */
    width:100%;
    left:0; 
    font-size: 0.7em;

  }
  .responsive-posts{
    position: fixed;
    overflow-y:auto;
    height: calc(100vh - 240px);
    top:240px;
    width:(100% + 16px);
    /* padding:0 100px; */
    left:0;
  }
}

/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {}

/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {}

/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {
  .body {
    background-color: lightgrey;
    padding-top: 50px;
    padding-right: 0;
    padding-bottom: 0px;
    padding-left: 0;
    min-height: 100vh;
  }
  .responsive-details {
    position: relative;
    z-index:1;
    padding:inherit;
    width:25%;
    /* left:0; */
    font-size: 1em;
    left:116px;
    top:auto;
  }
  .responsive-posts{
    position: relative;
    overflow-y:auto;
    height: calc(100vh - 60px);
    top:auto;
    width:(100% + 16px);
    /* padding:0 100px; */
    left:0;
  }


}

/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {}

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {}

/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {}

/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {}

/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {}

/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {}