<div class="body">
  <div class="row">

    <div class="col-12 col-md-3 fixed-top responsive-details"  *ngIf="hasDetails">
      <app-auxiliary-container></app-auxiliary-container>
    </div>

    <div class="col-12 container fixed-top responsive-posts" [class.contaier]="!hasDetails" >
      <app-main-container></app-main-container>
    </div>
    <app-fab (eventEmitter)="receiveFabStatus($event)" *ngIf="fabVisibility"></app-fab>
  </div>
</div>
