<div class="row" *ngIf="(tweets$ | async) as tweets; else loader">
  <div class="col-xs-12">
    <app-tweet-item *ngFor="let tweet of tweets" [tweet]="tweet"> </app-tweet-item>
    <div *ngIf="tweets.length == 0" class="list-group-item">This user has not posted anything yet.</div>
  </div>
</div>
<ng-template #loader>
  <div class="loading">
    <fa name="spinner" animation="spin" size="3x"></fa>
  </div>
</ng-template>
