.list-group-item {
  margin: 5px;
  border-radius: 5px;
}

.loading {
  text-align: center;
  padding: 3em;
}

.btn-rso-primary {
  background: darkorchid;
  color: white;
}
.btn-rso-primary:hover {
  background: darkmagenta;
  color: white;
}
.btn-rso-primary:focus {
  color: white;
}
.btn-rso-primary:active {
  color: white;
}