<ng-container *ngIf="!tweet.isDeleted">
  <div class="row">
    <div class="col-xs-12">
      <div class="list-group-item clearfix">

        <div class="row">




          <div class="col-xs-12" style="text-align: left;">
            <img src="https://vignette.wikia.nocookie.net/naginoasukara/images/8/86/Placeholder_person.png/revision/latest?cb=20130924151342"
              alt="aaaaa" style="min-height: 50px; min-width: 70px; max-width:2.5rem;position: relative;float:left; top:-15px; bottom:0;left:0; padding:15px;padding-left:0; padding-bottom:60px; padding-bottom:60px">

            <h4 class="list-group-item-heading" *ngIf="user$ | async as user">
              <a [routerLink]="'/user/'+tweet.UserId">{{ user.display_name || '██████████'}}</a>
            </h4>
            <p class="list-group-item-test"> {{ tweet.PostDate | date:'medium' }} </p>
            <ng-container *ngIf="!editableTweet.isOpen">
              <!-- <a *ngFor="let item of tweet.attachments" class="btn xs material-shadow" [href]="item.Attachment" [download]="generateDownload(item)"> <span class="glyphicon glyphicon-download-alt"></span></a> -->
              <div style="display: flex; align-items: stretch">
                <a *ngFor="let item of tweet.attachments" class="btn xs material-shadow attachment-btn" style="display: flex; flex-direction: column;justify-content: center;"
                  [href]="item.Attachment" [download]="generateDownload(item)">
                  <img class="attachment" [src]="item.Attachment" alt="⇩">
                </a>
              </div>
              <br>
              <p class="list-group-item-test"> {{ tweet.Message }} </p>
            </ng-container>
            <!-- edit section -->
            <ng-container *ngIf="canComment()">
              <button type="button" class="btn  btn-danger pull-right" (click)="removePost()">
                <span class="glyphicon glyphicon-trash"></span>
              </button>
              <button type="button" class="btn  btn-warning pull-right" (click)="editableTweet.isOpen?cancelEdit():openEdit()">
                <span class="glyphicon glyphicon-edit"></span>
              </button>
              <div *ngIf="editableTweet.isOpen">
                <div style="margin-top:4rem">
                  <textarea class="form-control" style="width:100%; margin-bottom:1rem" [(ngModel)]="editableTweet.text" required placeholder="Message"></textarea>
                </div>
                <div style="display: flex;align-items: stretch">
                  <button *ngFor="let item of editableTweet.attachments" class="btn xs material-shadow attachment-btn" style="display: flex; flex-direction: row; align-items:center"
                    (click)="removeEditAttachment(item)">
                    <img class="attachment" [src]="item.base64" alt="X">
                    <span class="glyphicon glyphicon-remove"></span>
                  </button>
                </div>
                <label class="btn btn-default btn-file pull-right btn-success">
                  <span class="glyphicon glyphicon-plus" style="padding-left: 1.10rem"></span>
                  <span class="glyphicon glyphicon-file" style="padding-right: 1.10rem"></span>
                  <input type="file" style="display: none;" multiple (change)="editFilesSelected($event)" accept=".png, .jpg, .gif">
                </label>
                <br>
                <br>
                <button type="button" class="btn btn-rso-primary pull-right" [disabled]="!editableTweet.text.length>0" (click)="saveEdit()">
                  <span class="glyphicon glyphicon-send"></span>
                </button>
                <button type="button" class="btn  btn-danger pull-right" (click)="cancelEdit()">
                  <span class="glyphicon glyphicon-remove"></span>
                </button>
              </div>
              <br>
              <br>
              <br>
            </ng-container>
            <!-- /edit section -->
          </div>
          <div class="col-xs-12">
            <app-tweet-item *ngFor="let child of tweet.Comments" [tweet]="child"> </app-tweet-item>
          </div>
          <div class="col-xs-12">

            <button *ngIf="!comment.isOpen" type="button" class="btn btn-rso-primary pull-right" (click)="comment.isOpen=!comment.isOpen">
              <span class="glyphicon glyphicon-comment"></span>
            </button>
            <div *ngIf="comment.isOpen" style="margin-top:4rem">
              <textarea class="form-control" style="width:100%; margin-bottom:1rem" [(ngModel)]="comment.text" required placeholder="Message"></textarea>
              <button *ngFor="let item of comment.attachments" class="btn xs material-shadow" (click)="removeAttachment(item)"> {{item.file.name|json}}
                <span class="glyphicon glyphicon-remove"></span>
              </button>
              <label class="btn btn-default btn-file pull-right btn-success">
                <span class="glyphicon glyphicon-plus" style="padding-left: 1.10rem"></span>
                <span class="glyphicon glyphicon-file" style="padding-right: 1.10rem"></span>
                <input type="file" style="display: none;" multiple (change)="filesSelected($event)" accept=".png, .jpg, .gif">
              </label>
              <br>
              <br>
              <button *ngIf="comment.isOpen" type="button" class="btn btn-rso-primary pull-right" [disabled]="!comment.text.length>0" (click)="addComment()">
                <span class="glyphicon glyphicon-send"></span>
              </button>
              <button *ngIf="comment.isOpen" type="button" class="btn  btn-danger pull-right" (click)="closeComment()">
                <span class="glyphicon glyphicon-remove"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>