.list-group-item {
  margin: 5px;
  border-radius: 5px;
}

.btn-rso-primary {
  background: darkorchid;
  color: white;
}
.btn-rso-primary:hover {
  background: darkmagenta;
  color: white;
}
.btn-rso-primary:active {
  color: white;
}
.btn-rso-primary:focus {
  color: white;
}
.attachment-btn{
  padding: 2px;
}
.attachment{
  max-width: 35px;
  max-height: 35px;
  padding: 0;
}
