<div class="col-md-12 usrDet">
  <div class="row" *ngIf="(user$ | async) as user; else spinner">
    <div class="col-md-5 pull-left userImgContainer">
      <img src="https://vignette.wikia.nocookie.net/naginoasukara/images/8/86/Placeholder_person.png/revision/latest?cb=20130924151342"
        alt="aaaaa" style="max-width: 11em; ">
      <div *ngIf="authService.loggedUserId() !== user.id">
        <button *ngIf="!isSubscribed" class="btn btn-success" (click)="toggleSub(user.id)" style="width:100%;">Subscribe</button>
        <button *ngIf="isSubscribed" class="btn btn-warning" (click)="toggleSub(user.id)" style="width:100%;">Unsubscribe</button>
      </div>
    </div>
    <div class="col-md-7 row-eq-height pull-left userDataContainer">
      <p *ngIf="authService.loggedUserId() === user.id">That's how your profile looks.</p>
      <p></p>
      <p>Name: {{user.display_name }}</p>
      <p>E-mail: {{user.email }}</p>
      <p *ngIf="user.create_date">Joined: {{user.create_date | date }}</p>
      <p *ngIf="(subscriptions$ | async) as subscriptions">
        Observing: {{ subscriptions.length }}
      </p>
      <p *ngIf="(followers$ | async) as followers">
        Followers: {{ followers.length }}
      </p>
    </div>
  </div>
  <ng-template #spinner>
    <fa name="spinner" animation="spin" size="3x"></fa>
  </ng-template>
</div>