.usrDet {
  background-color: white;
  border-radius: 5px;
  text-align: center;
  padding: 1em;
}

.userImgContainer {
  margin-top: 5px;
  margin-bottom: 5px;
}

.userDataContainer {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-right: 5px;

  text-align: left;
  vertical-align: middle;
}

.userDetContainer {
  margin-top: 5px;
  margin-bottom: 5px;

  text-align: left;
}
