<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <div class="container collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a>
            <app-post-container *ngIf="fabStatus && fabVisibility"></app-post-container>
          </a>
        </li>
        <li>
          <a>
            <app-fab (eventEmitter)="receiveFabStatus($event)" *ngIf="fabVisibility"></app-fab>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
