<div class="row signup">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2" style="height: 100vh;">
    <form (ngSubmit)="onSignup(f)" #f="ngForm">
      <div class="form-group">
        <label class="mainLabel"> Sign Up to new "purpler" Twitter! </label>
      </div>
      <div class="form-group">
        <label for="email"> e-mail </label> <label *ngIf="!emailValid" class="text-danger">email is invalid</label>
        <input type="email" name="email" id="email" [(ngModel)]="_email" (ngModelChange)="email.next($event)" class="form-control">
      </div>
      
      <div class="form-group">
        <label for="displayName"> display name </label>
        <input type="displayName" name="displayName" id="displayName" [(ngModel)]="displayName"  class="form-control">
      </div>
      <label for="" class="text-warning" >Password requirements: Minimum eight characters, at least one uppercase letter, one lowercase letter, one number and one special character:</label>
      <div class="form-group">
        <label for="password"> password </label> <label *ngIf="!passwordComplexEnough" class="text-danger">Passwords is not complex enough</label>
        <input type="password" name="password" id="password"  [(ngModel)]="_password" (ngModelChange)="password.next($event)" class="form-control">
      </div>
      <div class="form-group">
        <label for="rep_password"> retype password </label> <label *ngIf="!passwordsMatch" class="text-danger">Passwords don't match</label>
        <input type="password" name="rep_password" id="rep_password" [(ngModel)]="_rep_password" (ngModelChange)="rep_password.next($event)" class="form-control">
      </div>
      
      <button class="btn btn-rso-primary" type="submit" [disabled]="!(passwordsMatch && passwordComplexEnough) "> Sign Up</button>
    </form>
  </div>
</div>
