<app-header></app-header>
<div class="col-xs-12 col-sm-10 col-md-12 " style="background-color: lightgrey">
  <router-outlet (activate)="changeOfRoutes()"></router-outlet>
</div>
<app-add-post></app-add-post>
