.main-post-container {
  border: 1px solid #efefef;
  border-radius: 5px;
  /* background-color: lightgrey; */
  background: white;
  position: absolute;
  bottom: 0px;
  right: 60px;
  min-width: 800px;
  max-width: 800px;
  min-height: 135px;
  max-height: 1350px;
  padding: 10px;
}

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
  .main-post-container {
    min-width: 0;
    max-width: unset;
    width: 25vw;
  }
}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}