<div class="container">
  <div class="row">
    <div class="main-post-container material-shadow " style="border:solid 2px #bbb; z-index: 9999;">
      <form #f="ngForm" (ngSubmit)="onLogin(f)">

        <textarea class="form-control" style="width:100%; margin-bottom:1rem" [(ngModel)]="text" name="text" required placeholder="Message"></textarea>
        <button *ngFor="let item of attachments" class="btn xs" (click)="removeAttachment(item)"> {{item.file.name|json}} <span class="glyphicon glyphicon-remove"></span></button>
        <label class="btn btn-default btn-file pull-right btn-success">

          <span class="glyphicon glyphicon-plus"></span>
          <span class="glyphicon glyphicon-file"></span>
          <input type="file" style="display: none;" multiple (change)="filesSelected($event)" accept=".png, .jpg, .gif">
        </label>
        <br>
        <br>
        <button type="button" class="btn btn-rso-primary pull-right" [disabled]="!(text.length>0)" (click)="addComment()">
          <span class="glyphicon glyphicon-send" style="padding: 0 0.9rem"></span>
        </button>
        <!-- <button type="button" class="btn  btn-danger pull-right" (click)="eventEmitter.emit(false);">
          <span class="glyphicon glyphicon-remove"></span>
        </button> -->

      </form>
    </div>
  </div>
</div>
