<div class="row welcome">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2" style="height: 100vh;">
      <div>
        <label class="mainLabel"> Welcome to Twitter Clone! </label>
      </div>
      <div>
        <button class="btn btn-rso-primary btn-xs" routerLink ="/login"> Login </button>
        <label> if you have an account </label>
      </div>
      <div>
        <label> or </label>
        <button class="btn btn-rso-primary btn-xs" routerLink ="/signup"> Sign Up </button>
        <label> if you want to join us!</label>
      </div>
  </div>
</div>
