.fab {
  color: white;
  border-radius: 50%;
  border: none;
  min-height: 50px;
  max-height: 50px;
  min-width: 50px;
  max-width: 50px;
  background-color: DarkOrchid;
  text-align: center;
  cursor: pointer;
  box-shadow:0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
  position: absolute;
  bottom: 0px;
  right: 0px;
  transition: all 0.05s linear;
}

.fab:active {
  border: none;
  box-shadow: 0 2px 2px #666;
  transform: scale(1.1,1.1);
  background-color: darkmagenta;
}

.fab:focus {
  outline: none;
}
.fab:hover {
  border: none;
  box-shadow:0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
  transform: scale(1.1,1.1);
  

  background-color: darkmagenta;
}
