<style>
  /* The switch - the box around the slider */

  .switch {
    position: relative;
    display: inline-block;
    width: 4.7rem;
    height: 2rem;
  }

  /* Hide default HTML checkbox */

  .switch input {
    display: none;
  }

  /* The slider */

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 1.6rem;
    width: 1.6rem;
    left: 2px;
    bottom: 0.21rem;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked+.slider {
    background-color: darkorchid;
  }

  input:focus+.slider {
    box-shadow: 0 0 1px darkorchid;
  }

  input:checked+.slider:before {
    -webkit-transform: translateX(1.6rem);
    -ms-transform: translateX(1.6rem);
    transform: translateX(calc(2.9rem - 2px));
  }

  /* Rounded sliders */

  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
</style>

<div class="container">
  <div class="row settings">
    <div class="col-xs-12 " style="height:95.5vh">
      <form (ngSubmit)="onSaveSettingsDispName(f)" #f="ngForm" >
        <div class="form-group">
          <label class="mainLabel"> Settings </label>
        </div>
        <!-- <div class="form-group">
        <label for="email"> New e-mail </label>
        <input type="email" name="email" id="email" ngModel class="form-control">
      </div> -->
        <div class="form-group">
          <label for="displayName"> Display name </label>
          <input [value]="userDisplay_name" name="displayName" id="displayName" [(ngModel)]="displayName" class="form-control">
        </div>

        <label for="">Receive notifications</label>
        <br>

        <label class="switch">
          <input name="checkbox" type="checkbox" [(ngModel)]="notify">
          <span class="slider round"></span>
        </label>
        <br>

        <button class="btn btn-rso-primary" type="submit"> Save </button>
      </form>

      <div>
        <hr>
      </div>

      <form (ngSubmit)="onSaveSettingsPass(f)" #f="ngForm" >
        <div class="form-group">
          <label for="" class="text-warning" >Password requirements: Minimum eight characters, at least one uppercase letter, one lowercase letter, one number and one special character:</label>
          <div class="form-group">
            <label for="password"> New password </label>
            <label *ngIf="!passwordComplexEnough" class="text-danger">Passwords is not complex enough</label>
            <input type="password" name="password" id="password"  [(ngModel)]="_password" (ngModelChange)="password.next($event)" class="form-control">
          </div>
          <div class="form-group">
            <label for="password"> Repeat password </label>
            <label *ngIf="!passwordsMatch" class="text-danger">Passwords don't match</label>
            <input type="password" name="rep_password" id="rep_password" [(ngModel)]="_rep_password" (ngModelChange)="rep_password.next($event)" class="form-control">
          </div>
          <button class="btn btn-rso-primary" type="submit" [disabled]="!(passwordsMatch && passwordComplexEnough) "> Change </button>
        </div>
      </form>

      <div>
        <hr>
      </div>

      <label for=""> Delete your profile </label>
      <label for="" class="text-danger">According to General Data Protection Regulation, you have the right to delete your profile permanently, however, remember that it will not be possible to revert this change. </label>

      <button class="btn btn-rso-primary" type="button" (click)="removeProfile()"> Delete Profile </button>

    </div>
  </div>
</div>
